<h2>There you go muthafuckaaaah!</h2>
<%= image_tag @user.profilepic.url(:medium) %>
<%= form_for @user, :url => {:action => "create"}, html: { multipart: true } do |f| %>
	<div>	
		<%= f.label :profilepic %><br>
		<%= f.file_field :profilepic %>
	</div>
	
	<div>	
		<%= f.submit %>
	</div>
<% end %>