<h1>WelcomePages#my_profile</h1>
<h2>There you go!</h2>
<%= @user.id %>
<%= @user.email %>

<div>
        <%= f.label :avatar %>
        <div>
            <%= f.file_field :avatar %>
        </div>
</div>

<%= image_tag(current_user.avatar.url(:thumb)) %>