<h1>WelcomePages#my_profile</h1>
<h2>There you go!</h2>
<%= @user.id %>
<%= @user.email %>

<div class="form-group">
        <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.file_field :avatar %>
        </div>
</div>

<%= image_tag(current_user.avatar.url(:thumb)) %>