<h1>WelcomePages#my_profile</h1>
<h2>There you go!</h2>
<%= @user.id %>
<%= @user.email %>

<%= form_for @user, :url => profile_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>

<%= image_tag @user.avatar.url %>