<!DOCTYPE html>
<html>
<head>
  <title>Mark4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>	
	<div class="nav">
		<a href="/" title="http://localhost:3000/" class="mainlogo">
  				<img src="/assets/logo7.png" alt="Booquora" />
  			</a>
		<ul>
			<li><%= link_to 'SHOP', shop_path %></li>
			<li><%= link_to 'PUBLISHING', publishing_path %></li>
			<li><%= link_to 'COMMUNITY', community_path %></li>
			<li><%= link_to 'MY PROFILE', my_profile_path %></li>
			<% if user_signed_in? %>
				<li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
			<% else %>
				<li><%= link_to "LOG IN", new_user_session_path %>
			<% end %>
		</ul>
	</div>
	
	</br>	
	</br>	
	</br><%= yield %>
		
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
</body>
</html>
