<!DOCTYPE html>
<html>
<head>
  <title>Mark4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= link_to 'Shop', shop_path %> | 
	<%= link_to 'Publishing', publishing_path %> | 
	<%= link_to 'Community', community_path %> | 
	<%= link_to 'My profile', my_profile_path %>
	
<% if user_signed_in? %>
	<%= link_to "Log out", destroy_user_session_path, :method => :delete %> </br>
	Logged In! (tlacitko Log Out)
<% else %>
	<%= form_for(:user, :url => session_path(:user)) do |f| %> </br>
 		 <%= f.text_field :email %> </br>
 		 <%= f.password_field :password %> </br>
  		 <%= f.check_box :remember_me %>
 		 <%= f.label :remember_me %> </br>
  		 <%= f.submit 'Sign in' %> </br>
  		 <%= link_to "Forgot your password?", new_password_path(:user) %>
  	<% end %>
<% end %>
	
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	
<%= yield %>

</body>
</html>
